*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    padding: 80px 780px 80px 580px;
    
}
.card{
    background-color: white;
    height:550px;
    width:340px;
    border-radius: 5px;
    padding: 0 0 20px 0;
}
.image{
    padding: 5px;
}
.image img{
    border-radius: 5px;
}
.capsules{
    padding: 0 28px 0 14px;
}
.capsules span{
    padding:0 6px;
    border: 1px solid gray;
    border-radius: 8px;
    color: grey;
}
.content{
    padding:7px 13px;
    font-family: 'Didact Gothic', sans-serif;
}
.content h2{
    padding-top:4px ;
    padding-bottom: 4px;
}
.content p{
    font-size: 13px;
    color:grey;
}
.button{
    text-align: center;
}
.button button{
    padding: 3px;
    border:1px solid rgb(97, 206, 234);
    border-radius: 8px;
    background-color: rgb(200, 238, 249);
    color:rgb(2, 102, 144)
}
